:root {
  --first-color: #20716a;
  --second-color: #23a393;
  --third-color: #ffc0c2;
  --fourth-color: #f7e9e3;
}

body {
  background: radial-gradient(rgb(247, 233, 227) 10%, rgb(35, 163, 147) 80%)
    no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: var(--first-color);
}

select {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 20px;
}

.body {
  display: block;
  margin: 50px auto 10px;
  max-width: 500px;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  text-align: center;
}

.city h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.time h2 {
  font-size: 40px;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

.wrapper {
  text-align: start;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--third-color);
}

.wrapper:last-child {
  border: none;
}

.wrapper span {
  font-size: 15px;
  opacity: 0.8;
}

footer {
  text-align: center;
  font-family: monospace;
  margin-bottom: 50px;
  color: var(--fourth-color);
  font-size: 15px;
}
