:root {
  --first-color: #20716a;
  --second-color: #23a393;
  --third-color: #ffc0c2;
  --fourth-color: #f7e9e3;
}

h1 {
  color: var(--first-color);
}

footer {
  text-align: center;
}

.body {
  text-align: center;
}

.clock {
  display: flex;
  justify-content: space-evenly;
}
